{% extends "layout.html" %}
{% from 'row.html' import row %}

{% block content %}
  <div class="header py-4 text-center">
    <h1 class="tk-source-han-sans-simplified-c ultra-light">{{ title }}</h1>
    <h4 class="subtitle tk-source-han-sans-simplified-c ultra-light">{{ subtitle }}</h4>
  </div>

  <div class="col-lg-7 col-md-9 col-sm-12 mx-auto mb-4">

    {% for r in higher_rows %}
    {{ row(r.name, r.url, caption=r.caption, rating=r.rating, link_class=r.link_class, rating_class='high-rating') }}
    {% endfor %}

    <hr class="my-1">

    {% for r in high_rows %}
    {{ row(r.name, r.url, caption=r.caption, rating=r.rating, link_class=r.link_class) }}
    {% endfor %}

    {{ row(i18n['row.average'], path, rating=average_rating, bold=True) }}

    {% for r in low_rows %}
    {{ row(r.name, r.url, caption=r.caption, rating=r.rating, link_class=r.link_class) }}
    {% endfor %}

    <hr class="my-1">

    {% for r in lowers_rows %}
    {{ row(r.name, r.url, caption=r.caption, rating=r.rating, link_class=r.link_class, rating_class='low-rating') }}
    {% endfor %}

    <div class="my-4"></div>

    {% for r in other_rows %}
    {{ row(r.name, r.url, caption=r.caption, link_class=r.link_class) }}
    {% endfor %}

  </div>
{% endblock %}
