<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Metanime</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link {{ 'active' if path == '/2018-07' }}" href="/2018-07">{{ i18n['navbar.current_season'] }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if path == '/2018-04' }}" href="/2018-04">{{ i18n['navbar.previous_season'] }}</a>
      </li>
    </ul>
  </div>
</nav>
